    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="carousel slide" id="carousel-499640" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel-499640">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-499640">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-499640">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <% @carousel.each do |t| %>
                    <div class="item <% if t.id==@carousel.first.id %>active<% end %>">
                        <%= image_tag t.picture.url %>
                        <div class="carousel-caption">
                            <p>
                              <%= t.describe %>
                            </p>
                        </div>
                    </div>
                    <% end %>
                    
                </div> <a class="left carousel-control" href="#carousel-499640" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-499640" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>

<div class="ui grid">
  <div class="ten wide column">
      <div class="ui piled segment">
    <div class="ui tiny list">
    <div class="ui top attached purple label">学院动态</div>
    <br></br>
    <% @article1.each do |t| %>
        <div class="item">
          <i class="list icon"></i>
          <div class="content">
             <%= link_to t.title,{:action=>"showarticle",:id=>t.id} %>
          </div>
        </div>
      <% end %>
  
        </div>
  </div>
  </div>
  <div class="six wide column">
      <div class="ui piled segment">
    <div class="ui tiny list">
    <div class="ui top attached red label">通知公告</div>
    <br></br>
      <% @article3.each do |t| %>
        <div class="item">
          <i class="list icon"></i>
          <div class="content">
             <%= link_to t.title,{:action=>"showarticle",:id=>t.id} %>
          </div>
        </div>
      <% end %>
        </div>
  </div>
  </div>
  <div class="ten wide column">
      <div class="ui piled segment">
    <div class="ui tiny list">
    <div class="ui top attached purple label">团学风采</div>
    <br></br>
      <% @article2.each do |t| %>
        <div class="item">
          <i class="list icon"></i>
          <div class="content">
             <%= link_to t.title,{:action=>"showarticle",:id=>t.id} %>
          </div>
        </div>
      <% end %>
        </div>
  </div>
  </div>
  <div calss="six wide column"></div>

   <div class="ten wide column">
      <div class="ui piled segment">
    <div class="ui tiny list">
    <div class="ui top attached purple label">班级建设</div>
    <br></br>
      <% @article4.each do |t| %>
        <div class="item">
          <i class="list icon"></i>
          <div class="content">
             <%= link_to t.title,{:action=>"showarticle",:id=>t.id} %>
          </div>
        </div>
      <% end %>
        </div>
  </div>
  </div>
  <div calss="six wide column"></div>
  
        </div>
