<header>
<div class="masthead">
	<img style="top:0px;" src="/assets/banner2.png" />
</div>
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to "团学之声",'/',id:"logo" %>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "主页",'/' %></li>
						<li><%= link_to "团学风采",'/display' %></li>
						<li><%= link_to "班级建设",'/contribute' %></li>
						<li><%= link_to "下载中心",'/download' %></li>
						<li><%= link_to "关于我们",'/about' %></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
